
<!DOCTYPE html>
<html lang="en" ng-app ="myApp">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>Proyecto-SYTW</title>
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css">
<link rel='stylesheet prefetch' href='http://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css'>

      <link rel="stylesheet" href="css/style.css">

    <!-- Bootstrap core CSS -->
    <link href="../css/bootstrap.min.css" rel="stylesheet">

    <!-- Material Design Bootstrap -->
    <link href="../css/mdb.min.css" rel="stylesheet">
    <link href="../css/mdb.min.css" rel="stylesheet">
    <link href="css/table.css" rel="stylesheet">

  <link href="..//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
  <link href="../css/style.css" rel="stylesheet">
</head>
<style type="text/css">
img { width: 140px; height: 140px; border-radius: 50%!important }


  
</style>
<body>

     <header>
      <div ng-controller="HeaderCtrl">
        <div ng-include src="header.url"></div>
      </div>
    </header>

  <main>
    <div class="col-sm-12 ">
      <div class="text-center">
        
        
        <div class="row">
         <div class="col-sm-4 offset-1 ">
            <div class="">
              <% if (user.local.username != null) { %>
                <img src="img/uploads/<%=user.id%>.jpg" class="img-circle" onerror="this.src='https://avatars.io/gravatar/<%= user.local.username %>/140'"><br>
                <strong>Name</strong>: <%= user.local.username %><br><br><br>
                <strong>Cambiar imagen de perfil:</strong>
                <br>
                 <form id="uploadForm" enctype="multipart/form-data" action="/home" method="post">
		            <input type="file" name="userFile" />
		            <br>
		            <br>
		            <input type="submit" value="Subir archivo" name="submit" onsubmit="setTimeout(function () { window.location.reload(); }, 10)">
	           </form>  
                
            </div>
        </div>
            
    <div class="col-sm-6 ">
        

          <% } %>

          <% if (user.local.username_facebook != null) { %>
            <h2 class="fa fa-facebook"> Facebook</h2><br>
            <img src="http://graph.facebook.com/<%= user.local.id %>/picture?type=large" class="img-circle"><br>
            <strong>Name</strong>: <%= user.local.username_facebook %><br><br>
             
          <% } %>

          <% if (user.local.username_twitter != null) { %>
            <h2 class="fa fa-twitter"> Twitter</h2><br>
            <img src="https://twitter.com/<%= user.local.username_twitter %>/profile_image?size=original" class="img-circle"><br>
            <strong>Name</strong>: <%= user.local.username_twitter %><br><br><br>
             
          <% } %>
          <% if (user.local.username_github != null) { %>
            <h2 class="fa fa-github"> Github</h2><br>
            <img src="https://avatars2.githubusercontent.com/u/<%= user.local.id %>" class="img-circle"><br>
            <strong>Name</strong>: <%= user.local.username_github %><br>
            
            
            
          <% } %>

       

    

          <% if (!user) { %>

            <div class="login-form">
               <h1>Si quiere acceder al juego debe iniciar sesión</h1>

               <button type="button" class="log-btn" onclick="window.location='/login';">Log in</button>


             </div>

          <% } else { %>


            
                           


          <% } %>

          
            <table class="table-responsive">
                <tr>
                <th>Juego</th>
                  <th>Totales</th>
                  <th>Ganadas</th>
                  <th>Perdidas</th>
                  <th>Empatadas</th>
                </tr>
                <tr>
                    <td>Buscaminas</td>
                     <td><%= user.local.totales%> </td>
                     <td><%= user.local.ganadas %></td>
                     <td><%= user.local.perdidas %></td>
                     <td><%= user.local.empatadas %></td>
                </tr>

              </table>
        </div>
     </div>
  </div>
  </div>
  </main>
  
<!--Footer-->
  <footer class="page-footer center-on-small-only">

    <div ng-controller="PieCtrl">
      <div ng-include src="footer.url"></div>
    </div>

  </footer>
  <!--/.Footer-->

  <!-- SCRIPTS -->

  <!-- AngularJS -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.js"></script>
  <script type="text/javascript" src="js/myapp.js"></script>

  <!-- JQuery -->
  <script type="text/javascript" src="js/jquery-2.2.3.min.js"></script>

  <!-- Bootstrap tooltips -->
  <script type="text/javascript" src="js/tether.min.js"></script>

  <!-- Bootstrap core JavaScript -->
  <script type="text/javascript" src="js/bootstrap.min.js"></script>

  <!-- MDB core JavaScript -->
  <script type="text/javascript" src="js/mdb.min.js"></script>
  
  <!-- Menu reducido -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
  
  
  </body>
</html>
