
<!DOCTYPE html>
<html lang="en" ng-app ="myApp">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>Proyecto-DSI</title>
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css">
<link rel='stylesheet prefetch' href='http://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css'>

      <link rel="stylesheet" href="css/style.css">

    <!-- Bootstrap core CSS -->
    <link href="../css/bootstrap.min.css" rel="stylesheet">

    <!-- Material Design Bootstrap -->
    <link href="../css/mdb.min.css" rel="stylesheet">
    <link href="../css/mdb.min.css" rel="stylesheet">
    <link href="css/table.css" rel="stylesheet">

  <link href="..//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
  <link href="../css/style.css" rel="stylesheet">
</head>
<style type="text/css">
img { width: 140px; height: 140px; border-radius: 50%!important }
.juego{
  background: url(https://1.bp.blogspot.com/-U4nLweOdSGI/WRiV5gQMLUI/AAAAAAAAArY/-ZvK4c810cUnhz5pWOm1ohSRfC0E2i4bACLcB/s320/juego.png);
  width: 500px;
  height:350px;
}
.boto{
border-radius: 50%;}
.boto1{
  border-radius: 25%;
}
  
</style>
<body>

    <header>
        <!--Navbar-->
        <nav class="navbar navbar-toggleable-md navbar-dark">
            <div class="container">
                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav1" aria-controls="navbarNav1" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <a class="navbar-brand" href="#">
                    <strong>Proyecto DSI</strong>
                </a>
                <div class="collapse navbar-collapse" id="navbarNav1">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="/">Home </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/games">Juego</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/ranking">Ranking</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/">Perfil</a>
                        </li>
                             <li class="nav-item">
                             <a class="nav-link" href="/logout">Cerrar</a>
                        </li>
                    </ul>
                    <form class="form-inline waves-effect waves-light">
                        <input class="form-control" type="text" placeholder="Search">
                    </form>
                </div>
            </div>
        </nav>
        <!--/.Navbar-->
    </header>

  <main>
    <div class="col-sm-12 ">
      <div class="text-center">
        
        <hr>
        <div class="row">
         <div class="col-sm-6 ">
        <div class="jumbotron">
          <% if (user.local.username != null) { %>
            <img src="https://avatars.io/gravatar/<%= user.local.username %>/140" class="img-circle"><br>
            <strong>Name</strong>: <%= user.local.username %><br><br><br>
             <div class="row">
                    <div class="offset-1 col-md-11">
                       
                        
                
                        <table>
                            <thead>
                                <tr>
                                    
                                    <th data-priority="2">Totales</th>
                                    <th data-priority="4">Ganadas</th>
                                    <th data-priority="3">Perdidas</th>
                                    <th data-priority="5">Empatadas</th>
                                </tr>
                            </thead>
                            <tbody> 
                                   
                                    <tr>
                                      <td data-priority="2"><%= user.local.totales%> </td>
                                      <td data-priority="3"><%= user.local.ganadas %></td>
                                      <td data-priority="4"><%=  user.local.perdidas %></td>
                                      <td data-priority="1"><%=  user.local.empatadas %></td>
                                     </tr>    
                                  
                                  
                            </tbody>
                        </table>

                    </div>
                </div>

          <% } %>

          <% if (user.local.username_facebook != null) { %>
            <h2 class="fa fa-facebook"> Facebook</h2><br>
            <img src="http://graph.facebook.com/<%= user.local.id %>/picture?type=large" class="img-circle"><br>
            <strong>Name</strong>: <%= user.local.username_facebook %><br><br>
             <div class="row">
                    <div class="offset-1 col-md-11">
                       
                        
                
                        <table>
                            <thead>
                                <tr>
                                    
                                    <th data-priority="2">Totales</th>
                                    <th data-priority="4">Ganadas</th>
                                    <th data-priority="3">Perdidas</th>
                                    <th data-priority="5">Empatadas</th>
                                </tr>
                            </thead>
                            <tbody> 
                                   
                                    <tr>
                                      <td data-priority="2"><%= user.local.totales%> </td>
                                      <td data-priority="3"><%= user.local.ganadas %></td>
                                      <td data-priority="4"><%=  user.local.perdidas %></td>
                                      <td data-priority="1"><%=  user.local.empatadas %></td
                                     </tr>    
                                  
                                  
                            </tbody>
                        </table>

                    </div>
                </div>
          <% } %>

          <% if (user.local.username_twitter != null) { %>
            <h2 class="fa fa-twitter"> Twitter</h2><br>
            <img src="https://twitter.com/<%= user.local.username_twitter %>/profile_image?size=original" class="img-circle"><br>
            <strong>Name</strong>: <%= user.local.username_twitter %><br><br><br>
             <div class="row">
                    <div class="offset-1 col-md-11">
                       
                        
                
                        <table>
                            <thead>
                                <tr>
                                    
                                    <th data-priority="2">Totales</th>
                                    <th data-priority="4">Ganadas</th>
                                    <th data-priority="3">Perdidas</th>
                                    <th data-priority="5">Empatadas</th>
                                </tr>
                            </thead>
                            <tbody> 
                                   
                                    <tr>
                                      <td data-priority="2"><%= user.local.totales%> </td>
                                      <td data-priority="3"><%= user.local.ganadas %></td>
                                      <td data-priority="4"><%=  user.local.perdidas %></td>
                                      <td data-priority="1"><%=  user.local.empatadas %></td
                                     </tr>    
                                  
                                  
                            </tbody>
                        </table>

                    </div>
                </div>
          <% } %>
          <% if (user.local.username_github != null) { %>
            <h2 class="fa fa-github"> Github</h2><br>
            <img src="https://avatars2.githubusercontent.com/u/<%= user.local.id %>" class="img-circle"><br>
            <strong>Name</strong>: <%= user.local.username_github %><br>
            <table>
                <tr>
                  <th>Totales</th>
                  <th>Ganadas</th>
                  <th>Perdidas</th>
                  <th>Empatadas</th>
                </tr>
                <tr>
                     <td><%= user.local.totales%> </td>
                     <td><%= user.local.ganadas %></td>
                     <td><%= user.local.perdidas %></td>
                     <td><%= user.local.empatadas %></td>
                </tr>

              </table>
          <% } %>

        </div>

    </div>
    <div class="col-sm-5 ">
            <div class="well">

          <% if (!user) { %>

            <div class="login-form">
               <h1>Si quiere acceder al juego debe iniciar sesión</h1>

               <button type="button" class="log-btn" onclick="window.location='/login';">Log in</button>


             </div>

          <% } else { %>

             <div class="login-form juego">
               <h1 class="btn btn-info boto">Juega y diviertete</h1>


             </div>
                            <button type="button" class="btn btn-danger boto1" onclick="window.location='/book';">Jugar</button>


          <% } %>

 </div>

  </div>
  </div>
  </main>
  
<!--Footer-->
  <footer class="page-footer center-on-small-only">

    <div ng-controller="PieCtrl">
      <div ng-include src="footer.url"></div>
    </div>

  </footer>
  <!--/.Footer-->

  <!-- SCRIPTS -->

  <!-- AngularJS -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.js"></script>
  <script type="text/javascript" src="js/footer.js"></script>

  <!-- JQuery -->
  <script type="text/javascript" src="js/jquery-2.2.3.min.js"></script>

  <!-- Bootstrap tooltips -->
  <script type="text/javascript" src="js/tether.min.js"></script>

  <!-- Bootstrap core JavaScript -->
  <script type="text/javascript" src="js/bootstrap.min.js"></script>

  <!-- MDB core JavaScript -->
  <script type="text/javascript" src="js/mdb.min.js"></script>
  </body>
</html>
